PORT=3000

# Full Neon Connection String (Copy this directly from your Neon Console)
DATABASE_URL=postgresql://neondb_owner:npg_JyX6uMAi9etG@ep-hidden-sunset-atmemedn-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Individual variables (if your TypeORM setup breaks down the string)
DB_HOST=ep-your-endpoint-name.region.aws.neon.tech
DB_PORT=5432
DB_USERNAME= neondb_owner
DB_PASSWORD= npg_JyX6uMAi9etG
DB_DATABASE=neondb
DB_SSL=true

# Authentication & Secrets
JWT_SECRET=25J2007ayaounde
JWT_EXPIRES_IN=1d